---
import BaseLayout from './BaseLayout.astro';

const { title, subtitle } = Astro.props;
---

<BaseLayout title={`${title} | Muhammad Umar Javed`}>
  <section class="content">
    <p class="muted">{subtitle}</p>
    <slot />
  </section>
</BaseLayout>
